html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.top-logo {
  position: absolute;
  left: 40px;
  top: 30px;
  width: 180px;
  height: 53px;
}



#contact-icon {
  position: absolute;
  top: 15px;
  right: 30px;
  border-radius: 55px;
  transition: 0.1s;


}


.center-wrap {
  position: absolute;
  height: 80vh;
  width: 50vw;
  top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 8vh;
  height: 150px;
}

.main-blurb {
  position: absolute;
  margin: 0;
  top: 185px;
  font-family: "Bree Serif", serif;
  font-weight: 100;
  text-align: center;
  line-height: 20px;
  font-size: 1.1em;
}

.sub-blurb {
  position: absolute;
  bottom: 25vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 1.3em;
  display: none;
}

#shop-button,
.sign-up-button {
  position: relative;
  top: 3vh;
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-family: "Bree Serif", serif;
  box-shadow: 0px 0px 6px #00000030;
  border-radius: 5px;
  transition: 0.1s;
}

#shop-button {
  background-color: #59cf94;
  color: #fff;
  margin-right: 10px;
}

.sign-up-button {
  background-color: #f9f871;
  color: #59cf94;
}


.nav-wrap {
  display: none;
  position: relative;
  height: 150px;
  width: 100vw;
  top: 385px;
}

.contact-tab {
  position: absolute;
  background-color: #59cf94;
  bottom: 0;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Bree Serif", serif;
  color: #fff;
  font-size: 1.3em;
  transform: translateY(75px);
  transition: 0.1s;
  padding-top: 3px;
}

.plant-care-tab {
  position: absolute;
  background-color: #92d886;
  bottom: 50px;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Bree Serif", serif;
  color: #fff;
  font-size: 1.3em;
  transform: translateY(90px);
  transition: 0.1s;
  padding-top: 3px;
}

.shop-tab {
  position: absolute;
  background-color: #d6f586;
  bottom: 0px;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: "Bree Serif", serif;
  color: #fff;
  font-size: 1.3em;
  transition: 0.1s;
  padding-top: 3px;
}

.shop-icon2,
.plant-care-icon2,
.contact-icon2 {
  position: absolute;
  height: 40px;
  top: 40px;
}


.store-button,
.contact-button {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #00000030;
  border: 2px solid #f9f871;
  transition: 0.1s;
  overflow: hidden;
}


.social-nav {
  position: absolute;
  font-size: 2em;
  top: 400px;
  display: inline-block;
  color: #59cf94;
  display: flex;
  align-items: center;
  justify-content: center;

}

.facebook-button,
#twitter-button,
.instagram-button {
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
  font-size: 0.8em;
}

#twitter-button {
  margin-left: 10px;
  margin-right: 10px;
}

.facebook-button:hover,
#twitter-button:hover,
.instagram-button:hover {
  cursor: pointer;
}

.shop-icon2,
.plant-care-icon2,
.contact-icon2 {
  animation-duration: 1s;
}

.shop-icon2:hover,
.plant-care-icon2:hover,
.contact-icon2:hover {
  animation-name: basket;
}

@keyframes basket {
  0% {
    transform: scale(1.1);
  }

  2% {
    transform: scale(1.2);
  }

  4% {
    transform: scale(1.1);
  }

  6% {
    transform: scale(1.2);
  }

  8% {
    transform: scale(1.1);
  }

  10% {
    transform: scale(1.2);
  }

  12% {
    transform: scale(1.1);
  }

  14% {
    transform: scale(1.2);
  }
}

/*--------MEDIA QUERIES/BREAKPOINTS--------*/


@media screen and (min-width: 320PX) {

  .top-logo {
    display: none;
  }

  .main-blurb {
    width: 100vw;
  }

  #shop-button,
  .sign-up-button {
    top: 30px;
  }

  #contact-icon {
    top: 492px;
    height: 50px;
  }
}


@media screen and (min-width: 375px) {

  #contact-icon {
    top: 590px;
    height: 50px;
  }

  #shop-button,
  .sign-up-button {
    top: 10px;
  }

  .top-logo {
    display: none;
  }

  .main-blurb {
    width: 100vw;
  }
}

@media screen and (min-width: 414px) {

  .desktop-social-nav,
  #facebook,
  #instagram,
  #twitter,
  .top-wave {
    display: none;
  }

  #shop-button,
  .sign-up-button {
    top: -20px;
  }

  #contact-icon {
    top: 650px;
  }
}

@media screen and (min-width: 768px) {

  .desktop-social-nav,
  #facebook,
  #instagram,
  #twitter,
  .top-wave {
    display: none;
  }


  .logo {
    height: 165px;
  }

  .main-blurb {
    top: 240px;
    font-size: 2em;
    line-height: 30px;
  }

  .sub-blurb {
    display: block;
    width: 90vw;
    top: 30vh;
  }

  .social-nav {
    top: 100px;
  }

  .center-wrap {
    top: 20vh;
  }

  #shop-button,
  .sign-up-button {
    width: 120px;
    height: 45px;
    font-size: 1.2em;
    top: 2vh;
  }
}

@media screen and (min-height: 812px) {

  .desktop-social-nav,
  #facebook,
  #instagram,
  #twitter,
  .top-wave {
    display: none;
  }


  #shop-button,
  .sign-up-button {
    top: -20px;
  }

  .main-blurb {
    top: 195px;
  }

  .social-nav {
    top: 450px;
  }

  #contact-icon {
    top: 735px;
  }
}

@media screen and (min-width: 1024px) {

  .desktop-social-nav,
  #facebook,
  #instagram,
  #twitter,
  .top-wave {
    display: none;
  }

  .logo {
    height: 230px;
    top: 9vh;
  }

  .main-blurb {
    top: 330px;
    font-size: 3em;
    line-height: 40px;
    width: 50vw;
  }

  #shop-button,
  .sign-up-button {
    top: 100px;
    height: 55px;
    width: 160px;
  }

  .sub-blurb {
    display: block;
    width: 100vw;
    top: 30.3vh;
  }

  #contact-icon {
    top: 0;
  }
}

@media screen and (min-width: 1080px) {
  /*---FULL SCREEN DESKTOP---*/

  .top-wave {
    position: absolute;
    top: 0;
    display: block;
  }

  .social-nav {
    display: none;
  }

  .desktop-social-nav {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 2em;
    color: #59CF94;
    width: 200px;
    display: inline-block;
  }

  .fa-instagram,
  .fa-facebook-f,
  .fa-twitter {
    margin: 10px;
    padding-left: 10px;
    transition: 0.5s;


  }



  .fa-facebook-f:hover,
  .fa-twitter:hover,
  .fa-instagram:hover {
    cursor: pointer;
  }

  .fa-facebook-f:hover {
    color: #3b5998;

  }

  .fa-twitter:hover {
    color: #1da1f2;


  }

  .fa-instagram:hover {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


  }



  .fa-facebook-f:hover #facebook {
    display: block;
  }

  .fa-instagram:hover #instagram {
    display: block;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  .fa-twitter:hover #twitter {
    display: block;
  }



  #facebook {
    position: absolute;
    display: none;
    top: -70px;
    left: 45px;
    font-family: "Bree Serif", serif;
    font-size: 0.7em;
    background-color: #3b5998;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin: 0;


  }

  #instagram {
    position: absolute;
    display: none;
    top: -70px;
    left: 45px;
    font-family: "Bree Serif", serif;
    font-size: 0.7em;
    padding: 12px;
    border-radius: 5px;
    color: #000;
    margin: 0;


  }

  #twitter {
    position: absolute;
    display: none;
    top: -70px;
    left: 45px;
    font-family: "Bree Serif", serif;
    font-size: 0.7em;
    padding: 12px;
    border-radius: 5px;
    color: #1da1f2;
    letter-spacing: -1px;
    margin: 0;

  }


  .top-logo {
    display: block;

  }

  .logo {
    height: 175px;
    top: 0vh;
    width: 200px;
    height: 270px;
  }

  #contact-icon {
    top: 855px;
    left: 30px;
  }

  .plant-care-button {
    position: absolute;
    bottom: -65px;
    left: -365px;
    height: 55px;
  }


  #shop-button,
  .sign-up-button {
    top: 16vh;
    height: 55px;
    width: 175px;
    font-size: 1.5em;
  }

  .main-blurb {
    font-size: 3em;
    line-height: 50px;
    top: 27vh;
  }

  .sub-blurb {
    display: block;
    top: 38vh;
    font-size: 1.6em;
  }

  .social-nav {
    bottom: -400px;
    left: 40px;
  }

  .facebook-button {
    height: 35px;
    width: 35px;
    border: 1.5px solid #92D886;
    border-radius: 10px;

  }

  #twitter-button {
    height: 35px;
    width: 35px;
    border: 1.5px solid #92D886;
    border-radius: 10px;

  }

  .instagram-button {
    height: 35px;
    width: 35px;
    border: 1.5px solid #92D886;
    border-radius: 10px;

  }



  .center-wrap {
    top: auto;
  }
}

/*--------MEDIA QUERIES/BREAKPOINTS--------*/






/*--------HOVERS/ACTIVES ETC--------*/



.sign-up-button:hover,
#shop-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

#contact-icon:hover {
  border: 3px solid #f9f871;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}

.sign-up-button:active,
#shop-button:active,
#contact-icon:active {
  box-shadow: none;
  border: none;
}

#contact-box:hover {
  cursor: pointer;
  background-color: #A1ED85;
  border-left: 5px solid #f9f871;
  border-bottom: 5px solid #f9f871;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);


}

/*--------HOVERS/ACTIVES ETC--------*/
