html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    padding: 0;
}

.center-wrap {
    position: absolute;
    height: 80vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    position: absolute;
    top: 8vh;


}

.main-blurb {
    position: absolute;
    margin: 0;
    font-family: 'Bree Serif', serif;
    font-weight: 100;
    text-align: center;
    line-height: 48px;
    font-size: 3em;
}

.sub-blurb {
    position: absolute;
    bottom: 25vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.3em;

}

.shop-button,
.sign-up-button {
    position: relative;
    display: block;
    height: 50px;
    width: 170px;
    top: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-family: 'Bree Serif', serif;
    box-shadow: 0px 0px 6px #00000030;
    border-radius: 5px;
    margin-right: 25px;
    transition: 0.3s;


}

.shop-button {
    background-color: #59CF94;
    color: #fff;


}

.sign-up-button {
    background-color: #F9F871;
    color: #59CF94;


}

.nav-wrap {
    position: relative;
    height: 150px;
    width: 100vw;
    top: 385px;

}

.contact-tab {
    position: absolute;
    background-color: #59CF94;
    bottom: 0;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    color: #fff;
    font-size: 1.3em;
    transform: translateY(75px);
    transition: 0.3s;
    padding-top: 3px;

}

.plant-care-tab {
    position: absolute;
    background-color: #92D886;
    bottom: 50px;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    color: #fff;
    font-size: 1.3em;
    transform: translateY(90px);
    transition: 0.3s;
    padding-top: 3px;

}

.shop-tab {
    position: absolute;
    background-color: #D6F586;
    bottom: 0px;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    color: #fff;
    font-size: 1.3em;
    transition: 0.3s;
    padding-top: 3px;

}



.shop-icon2,
.plant-care-icon2,
.contact-icon2 {
    position: absolute;
    height: 40px;
    top: 40px;
}

.contact-tab:hover,
.plant-care-tab:hover,
.shop-tab:hover {
    height: 150px;
    cursor: pointer;
    background-color: #F9F871;
    color: #59CF94;
    border-top: 3px solid #59CF94;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #00000030;


}


.store-button,
.plant-care-button,
.contact-button {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #00000030;
    border: 2px solid #F9F871;
    transition: 0.3s;
    overflow: hidden;


}


.sign-up-button:hover,
.shop-button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;

}

.sign-up-button:active,
.shop-button:active {
    box-shadow: none;

}

.social-nav {
    position: absolute;
    font-size: 2em;
    left: 40px;
    top: 40px;
    display: inline-block;
    color: #59CF94;
    display: flex;
    align-items: center;
    justify-content: center;



}

.facebook-button,
.twitter-button,
.instagram-button {
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;



}


.twitter-button {
    margin-left: 20px;
    margin-right: 20px;

}


.facebook-button:hover,
.twitter-button:hover,
.instagram-button:hover {
    cursor: pointer;

}
